<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crazyno login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/connection.css}">
</head>
<body>
<div class="hero">
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase">Bienvenue sur CrazyNo</h2>
                                <div th:if="${param.error}">
                                    Invalid username and password.
                                </div>
                                <div th:if="${param.logout}">
                                    You have been logged out.
                                </div>
                                <form action="#" method="post" th:action="@{/login}">
                                    <p class="text-white-50 mb-5">Entrez votre pseudonyme</p>
                                    <div class="form-outline form-white mb-4">
                                        <input class="form-control form-control-lg" name="username"
                                               type="text"/>
                                    </div>
                                    <p class="text-white-50 mb-5">Entrez votre mot de passe</p>
                                    <div class="form-outline form-white mb-4">
                                        <input class="form-control form-control-lg" name="password"
                                               type="password"/>
                                    </div>
                                    <button class="btn btn-outline-light btn-lg px-5" name="action" type="submit">
                                        Login
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>