<html>
<body>
<h1 th:text="#{label.form.title}">form</h1>
<form enctype="utf8" method="POST" th:action="@{/registration}" th:object="${user}">
    <div>
        <label th:text="#{label.user.pseudo}">pseudo</label>
        <input th:field="*{pseudo}"/>
        <p th:each="error : ${#fields.errors('pseudo')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="#{label.user.password}">password</label>
        <input th:field="*{password}" type="password"/>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="#{label.user.confirmPass}">confirm</label>
        <input th:field="*{matchingPassword}" type="password"/>
    </div>
    <button th:text="#{label.form.submit}" type="submit">submit</button>
</form>

<a th:href="@{/login.html}" th:text="#{label.form.loginLink}">login</a>
</body>
</html>